html, body {
    height: 100%;
    width: 100%;
}
body {
    margin: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
div, span {
    color: #393939;
}
.left {
    float: left;
}
.right {
    float: right;
}
.center {
    text-align: center;
}
.title {
    font-size: 24px;
}
.subtitle {
    font-size: 16px;
    font-weight: bold;
}
.header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 3;
}
.slide {
    position: fixed;
    z-index: 2;
}
.clickout {
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
    background: transparent;
}
.show {
    display: block;
}
.hide {
    display: none;
}
