body {
    background: #393939;
}
#boards {
    margin-left: 10px;
    position: fixed;
}
#header {
    padding: 5px 10px;
    height: 30px;
    background: #111111;
}
.title {
    color: #95C11F;
    padding-top: 2px;
}
#board {
    padding: 50px 30px;
}
#board [name=lists] > div {
    float: left;
}
.list>[name=header]>[name=actions] div:first-child {
    padding-top: 1px;
}