body {
    background: #393939;
}
#boards {
    width: 200px;
    max-height: 300px;
    margin-left: 10px;
}
#boards>[name=list] {
    width: 200px;
    padding-bottom: 20px;
    background: #E3E3E3;
}
#boards [name=tab] {
    padding: 5px 10px;
    background: #E3E3E3;
}
#boards [name=tab]:hover {
    cursor: pointer;
    background: #111111;
    color: #14A7C8;
}
.header {
    padding: 5px 10px;
    height: 30px;
    background: #111111;
}
.rounded {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.title {
    color: #14A7C8;
    padding-top: 2px;
}
